@keyframes letters {
  0%{ 
    color: black; 
  } 
  30%{ 
      letter-spacing: 25px; 
      } 
  85%{ 
      letter-spacing: 8px; 
  } 
} 

@-webkit-keyframes moveImg {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}
@keyframes moveImg {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}

@-webkit-keyframes moveImgleft {
  0% {
    left:500px;
  }
  100% {
    left: 0px;
  }
}
@keyframes moveImgleft {
  0% {
      left:500px;
  }
  100% {
      left: 0px;
  }
}

body {margin:0;}

.logo {
  position: relative;
  -webkit-animation: moveImg 4s normal ease-out;

}

.profile{
  position: relative;
  -webkit-animation: moveImgleft 4s normal ease-out;
  float:left;
  border-radius: 50%;
  padding: 10px;
  background-position: 100%;
  
}

.menu {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: letters;
  animation-duration: 4s;
}

.menu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.menu :last-child{
  float: right;
}
.menu a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 250px;
  padding: 50px;
}

.section{
  margin-top:50px;
  border: 5px solid transparent;
  border-color: black;
  padding-top: 10px
}

h2 {
  width: 100%; 
  text-align: center; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  font-family: "Comic Sans MS", cursive, sans-serif;
} 

h2 span { 
   background: inherit; 
   padding:0 10px; 
  
}

#about {
  padding: 0 7%;
  display: table;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#playlist{
min-height: 100px;
overflow: hidden;
}

#photos{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  overflow: hidden;
}

#like_button{
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  z-index:-1;
}
.text{
  font: 24px;
  font-style: italic;
}

fieldset {
  border: 20px solid transparent; 
  border-top-color: black; 
  box-sizing: border-box; 
  grid-area: 1 / 1; /* first row, first column */
  padding: 20px; 
  width: inherit; 
  z-index:-1;
}
/* rotate to right */
fieldset:nth-of-type(2){ transform: rotate(90deg); }
/* rotate to bottom */
fieldset:nth-of-type(3){ transform: rotate(180deg); }
/* rotate to left */
fieldset:nth-of-type(4){ transform: rotate(-90deg); }

legend {
  font: 13pt/0 'Averia Serif Libre'; 
  margin: auto; /* to center */
  padding: 0 4px; 
}

fieldset:nth-of-type(3) > legend { 
  transform: rotate(180deg);
}

.bracket {
  display: grid; 
  margin: auto; /* to center */
  margin-top: 20px; /* to center */
  width: 300px; height: 300px; 
}


.container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%; 
}
.container div{ 
  float:left;
  padding-left: 10px;
} 


@keyframes glow_like {
  to {
      text-shadow: 0 0 10px red;
  }
}

.confirm_selection {
  animation: glow_like .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}

@keyframes glow_qr {
  to {
      text-shadow: 0 0 10px blue;
  }
}

.qr {
  animation: glow_qr .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}


@keyframes animate { 
  
  0% { 
      content: "My"; 
  } 

  50% { 
      content: "Personal"; 
  } 

  75% { 
      content: "Playlist"; 
  } 
} 

h1 { 
  display: flex; 
  justify-content: center; 
  color: black; 
} 

#play::before { 
  font-family: "Comic Sans MS", cursive, sans-serif;
  content: "My"; 
  animation: animate infinite 3s; 
  padding-left: 10px; 
} 

table, th, td, tr {
	border: 1px black solid;
	border-collapse: collapse;  
	border-spacing: 10px 10px;

}
th, td {
	padding: 10px;
}
th {
	text-align: left;
}

td {
	text-align: center;
}

h3 u{
  display: flex; 
  justify-content: center; 
}
h3 li{
  margin-left:10px;
}
