/* 
CSS animations: moving image, chaning spacing and changing font color
*/

@keyframes letters {
  0%{ 
    color: black; 
  } 
  30%{ 
      letter-spacing: 25px; 
      } 
  85%{ 
      letter-spacing: 8px; 
  } 
} 

@-webkit-keyframes moveImg {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}
@keyframes moveImg {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}

@-webkit-keyframes moveImgleft {
  0% {
    left:500px;
  }
  100% {
    left: 0px;
  }
}
@keyframes moveImgleft {
  0% {
      left:500px;
  }
  100% {
      left: 0px;
  }
}

@keyframes glow_like {
  to {
      text-shadow: 0 0 10px red;
  }
}

@keyframes glow_contact {
  to {
      text-shadow: 0 0 10px rgb(230, 233, 49);
  }
}

@keyframes glow_qa {
  to {
      text-shadow: 0 0 10px rgb(0, 255, 21);
  }
}

@keyframes glow_qr {
  to {
      text-shadow: 0 0 10px blue;
  }
}

@keyframes glow_about {
  to {
      text-shadow: 0 0 10px rgb(255, 187, 0);
  }
}

@keyframes glow_photos {
  to {
      text-shadow: 0 0 10px rgb(0, 255, 157);
  }
}

@keyframes animate { 
  
  0% { 
      content: "My"; 
  } 

  50% { 
      content: "Personal"; 
  } 

  75% { 
      content: "Playlist"; 
  } 
} 

/*
HTML body 
*/

body {margin:0; background-color: rgb(241, 240, 240);}

.logo {
  position: relative;
  -webkit-animation: moveImg 4s normal ease-out;

}

.profile{
  position: relative;
  -webkit-animation: moveImgleft 4s normal ease-out;
  float:left;
  border-radius: 50%;
  padding: 10px;
  background-position: 100%;
  
}

.menu {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: letters;
  animation-duration: 4s;
}

.menu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index:100
}
.menu :last-child{
  float: right;
}
.menu a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 250px;
  padding: 50px;
}

.section{
  margin-top:50px;
  border: 5px solid transparent;
  border-color: black;
  padding-top: 30px;
  min-height: 100px; /* Used for auto adjust section size */
  overflow: hidden; /* Used for auto adjust section size */
}

h2 {
  width: 100%; 
  text-align: center; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  font-family: "Comic Sans MS", cursive, sans-serif;
} 

h2 span { 
   background: inherit; 
   padding:0 10px; 
  
}

#photos{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#photos img{
  padding-left: 10px;
}

#like_button{
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  z-index:-1; /* Move image to backround */
}

.fb-like{
  z-index:-1; /* Move image to backround */
}

.text{
  font: 24px;
  font-style: italic;
}

fieldset {
  border: 20px solid transparent; 
  border-top-color: black; 
  box-sizing: border-box; 
  grid-area: 1 / 1; /* first row, first column */
  padding: 20px; 
  width: inherit; 
  z-index:-1; /* Move image to backround */
}
/* rotate to right */
fieldset:nth-of-type(2){ transform: rotate(90deg); }
/* rotate to bottom */
fieldset:nth-of-type(3){ transform: rotate(180deg); }
/* rotate to left */
fieldset:nth-of-type(4){ transform: rotate(-90deg); }

legend {
  font: 13pt/0 'Averia Serif Libre'; 
  margin: auto; /* to center */
  padding: 0 4px; 
}

fieldset:nth-of-type(3) > legend { 
  transform: rotate(180deg);
}

.bracket {
  display: grid; 
  margin: auto; /* to center */
  margin-top: 30px; /* to center */
  width: 300px; height: 300px; 
}


.container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%; 
}
.container div{ 
  float:left;
  padding-left: 10px;
} 




.photos_msg {
  animation: glow_photos .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.like_msg {
  animation: glow_like .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.about_msg {
  animation: glow_about .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.qa_msg {
  animation: glow_qa .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.contact_msg {
  animation: glow_contact .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}



.qr {
  animation: glow_qr .5s infinite alternate;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}




h1 { 
  display: flex; 
  justify-content: center; 
  color: black; 
} 

#play::before { 
  font-family: "Comic Sans MS", cursive, sans-serif;
  content: "My"; 
  animation: animate infinite 3s; 
  padding-left: 10px; 
} 

table, th, td, tr {
	border: 1px black solid;
	border-collapse: collapse;  
	border-spacing: 10px 10px;
  border: 5px solid blue;

}
th, td {
	padding: 10px;
}
th {
	text-align: left;
}

td {
	text-align: center;
}


h3 u{
  display: flex; 
  justify-content: center; 
}
h3 li{
  margin-left:10px;
  text-decoration: none;
}

td h2:hover{
  color: red
}

td h3:hover{
  font-weight:bold;
  text-decoration:none;
  border-bottom:1px solid #ccc;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=email], select, textarea {
 margin-bottom: 10px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#welcome_msg{
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; 
}